.shop{
    display: block;
    width: 100%;
}
.shop_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -2.5rem;
}
.shop_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem ;
}
.shop_filter{
    flex-basis: 20%;
}
.shop_products{
    flex-basis: 80%;
}

.shop_filter_res{
    display: none;
}
.shop_filter_icon{
    display: flex;  
    align-items: center;
    justify-content: center;
bottom:60%;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
        color: var(--secondary);
    }
}
.shop_filter_menu{
    display: block;
    position: fixed;
    top: 0;
    right: -1000px;
    width: 300px;
    padding: 1rem;
    height: 100dvh;
    background-color: var(--white);
}
.shop_filter_menu_active{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    padding: 1rem;
    height: 100dvh;
    background-color: var(--white); 
    z-index: 7777;
}

.filter_menu_titleIcon_exit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBF7F4;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}
.filter_menu_titleIcon{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--primary);
}
.filter_menu_icon{
    font-size: 1.5rem;
}
.filter_menu_text{
    font-size: 1.2rem;
}
.filter_menu_exit{
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
        color: var(--secondary);
    }
}
/* Shop-products */
.shop_products_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop_products_sort{
    display: block;
    width: 240px;
    height: 3rem !important;
    outline: none;
    border: 1px solid var(--text-200);
    border-radius: 0.4rem;
    color: var(--text-300);
    cursor: pointer;
    &:focus{
        border-color: var(--primary);
    }
    &:active{
        border-color: var(--primary);
    }
}
.shop_products_sort option{
    color: var(--text-300);
}
.shop_products_exist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 240px;
    height: 3rem;
    border: 1px solid var(--text-200);
    border-radius: 0.4rem;
}
.shop_products_text{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-300);
}
.shop_products_buttons{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50px;
    height: 25px;
    border: 2px solid var(--text-200);
    border-radius: 0.3rem;
    padding: 0 0.3rem;
    cursor: pointer;
        transition: all 0.8s linear;
}
.shop_products_buttons_active{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50px;
    height: 25px;
    border: 2px solid var(--primary);
    border-radius: 0.3rem;
    background-color: var(--primary);
    padding: 0 0.3rem;
    cursor: pointer;
        transition: all 0.8s linear;
}
.shop_products_buttons_active .shop_products_btn{
    background-color: var(--white);
}
.shop_products_btn{
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--text-200);
    border-radius: 0.3rem;
    transition: all 0.8s linear;
}
.shop_products_pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.shop_products_pagination_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: var(--primary);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--white);
    transition: all 0.3s linear;
    &:hover{
        background-color: var(--secondary);
    }
}
.shop_products_pagination_btn_active{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: var(--secondary);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--white);
}


/* <<< Responsive code >>> */
@media only screen and (max-width: 1200px) {
    .containers{
        max-width: 960px;
    }
    
    
}
@media only screen and (max-width: 992px) {
    .containers{
        max-width: 720px;
    }
    .shop_buttons{
        overflow-x: auto;
        cursor: pointer;
        padding-bottom: 1rem;
    }
   /* Customize scrollbar */
.shop_buttons::-webkit-scrollbar {
    width: 3px; 
    height: 8px; 
  }
  
  .shop_buttons::-webkit-scrollbar-thumb {
    background:var(--primary); 
    border-radius: 0.5rem;
  }
  
  .shop_buttons::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem; 
  }
    .shop_filter{
        display: none;
    }
    .shop_filter_res{
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    
}
@media only screen and (max-width: 576px) {
    .containers{
        max-width: 100%;
    }
    .shop_buttons{
        margin-top: 2rem;
    }
}