.shop{
    display: block;
    width: 100%;
}
.shop_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -2.5rem;
}
.shop_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.shop_filter{
    flex-basis: 20%;
}
.shop_products{
    flex-basis: 80%;
    background-color: var(--secondary);
}

.shop_filter_res{
    display: none;
}
.shop_filter_icon{
    display: flex;  
    align-items: center;
    justify-content: center;
bottom:60%;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
        color: var(--secondary);
    }
}
.shop_filter_menu{
    display: block;
    position: fixed;
    top: 0;
    right: -1000px;
    width: 300px;
    padding: 1rem;
    height: 100dvh;
    background-color: var(--white);
}
.shop_filter_menu_active{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    padding: 1rem;
    height: 100dvh;
    background-color: var(--white); 
    z-index: 7777;
}

.filter_menu_titleIcon_exit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBF7F4;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}
.filter_menu_titleIcon{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--primary);
}
.filter_menu_icon{
    font-size: 1.5rem;
}
.filter_menu_text{
    font-size: 1.2rem;
}
.filter_menu_exit{
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
        color: var(--secondary);
    }
}






/* <<< Responsive code >>> */
@media only screen and (max-width: 1200px) {
    .containers{
        max-width: 960px;
    }
    
    
}
@media only screen and (max-width: 992px) {
    .containers{
        max-width: 720px;
    }
    .shop_buttons{
        overflow-x: auto;
        cursor: pointer;
        padding-bottom: 1rem;
    }
   /* Customize scrollbar */
.shop_buttons::-webkit-scrollbar {
    width: 3px; 
    height: 8px; 
  }
  
  .shop_buttons::-webkit-scrollbar-thumb {
    background:var(--primary); 
    border-radius: 0.5rem;
  }
  
  .shop_buttons::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem; 
  }
    .shop_filter{
        display: none;
    }
    .shop_filter_res{
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    
}
@media only screen and (max-width: 576px) {
    .containers{
        max-width: 100%;
    }
    .shop_buttons{
        margin-top: 2rem;
    }
}