.video{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 4rem;
}
.video_vid{
    display: block;
    width: clamp(100% , auto , 100%);
    height:auto;
    filter: brightness(35%);
    object-fit: cover;
    background-position: center;
    background-clip: content-box;
}

.video_content{
    display: block;
    max-width: 500px;
    color: var(--white);
    position: absolute;
    top: 40%;
}
.video_content_title{
    display: block;
    font-family: var(--danaBlack);
    font-size: 2rem;
    color: var(--secondary);
}
.video_content_paraph{
    display: block;
    margin: 1rem 0;
    line-height: 2;

}
.video_link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    height: 2.5rem;
    border: 1px solid var(--white);
    border-radius: 1rem;
    font-size: 0.9rem;
    color: var(--white);
    transition: all 0.3s linear;
    &:hover{
        color: var(--secondary);
        border-color: var(--secondary);
    }
}