.about{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.about_image{
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.about_content{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
}
.about_content_title{
    display: block;
    font-family: var(--danaBlack);
    font-size: 1.5rem;
    color: var(--text-300);
}
.about_content_subTitle{
    display: block;
    color: var(--primary);
    margin: 1rem 0;
}
.about_content_desc{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: var(--text-200);
    line-height: 1.7;
}
.about_content_link{
    display: flex;
align-items: center;
justify-content: center;
width: 120px;
margin: 0 auto;
margin-top: 1rem;
}