.dashboard{
    display: block;
    width: 100%;
    margin-top: 3rem;
}
.dashboard_item_title{
    display: block;
    font-family: var(--danaBlack);
    font-size: 1.3rem;
    color: var(--text-300);
}
.dashboard_item_text{
    display: block;
    margin-top: 1rem;
    font-family: var(--danaBold);
    font-size: 0.9rem;
    color: var(--primary);
}