.details{
    display: block;
    width: 100%;
    margin-top: 3rem;
    background-color: var(--shadow);
    padding: 1rem;
    border-radius: 1rem;
}
.details_title{
    display: block;
    text-align: center;
    font-family: var(--danaBlack);
    font-size: 1.4rem;
    color: var(--text-300);
}
.details_items{
    display: block;
}
.details_item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}
.details_item_title{
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: 200px;
    font-size: 0.8rem;
    padding: 0.3rem;
    color: var(--text-300);
    border-radius: 0.4rem;
}
.details_item_text{
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    padding: 0.3rem;
    font-size: 0.8rem;
    border-radius: 0.4rem;
}