.responsible{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.responsible_title{
    display: block;
    margin-top: 3rem;
    text-align: center;
    font-family: var(--danaBlack);
    font-size: 1.5rem;
    color: var(--text-300);
}
.responsible_item{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}
.responsible_img{
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 0.7rem;
}
.responsible_text{
    display: block;
    margin-top: 1rem;   
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--text-200);
}
