.navBar{
    display: block;
    width: 100%;
    padding-top: 2rem;
    background-color: var(--white);
    box-shadow: 0 0 10px 7px var(--shadow);
}
.navbar_fixed{
    display: block;
    width: 100%;
    padding-top: 2rem;
    background-color: var(--white);
    box-shadow:0 1px 8px var(--text-200);
    position: fixed;
    width: 100%;
    animation: fadeInDownBig 0.4s ease;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 999;
}
@keyframes fadeInDownBig {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: none;
    }
  }
.navbar_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* <<<< Navbar search  Mobile >>>> */
.navbar_search_menuMobile{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* <<<< Navbar Menu Mobile >>>> */
.navbar_mobile_wrapper{
    display: none;
}
.navbar_mobile_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--text-100);
    border-radius: 50%;
    padding: 0.2rem;
    color: var(--text-200);
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover{
        border-color: var(--primary);
    }
}
.navbar_mobile_iconBox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary);
    border-radius: 50%;
}

.navbar_mobile_menu{
    display: none;
}
.navbar_mobile_menu_active{
    display: block;
}
.navbar_mobile_menuWrapper{
    display: block;
    padding: 1rem;
    width: 300px;
    height: 120dvh;
    z-index: 4;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right:-500px ;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.navbar_mobile_menuWrapper_active{
    display: block;
    padding: 1rem;
    width: 300px;
    height: 100dvh;
    z-index: 4;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right:0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;;
}
.navbar_mobile_menuLogoExit{
    display: block;
    position: relative;
}
.navbar_mobile_exit{
    display: block;
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    font-size: 1.3rem;
    color: var(--text-200);
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover{
        color: var(--text-100);
    }
}
.navbar_mobile_items{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.mobile_item{
    display: block;
    margin-bottom: 1rem;
}
.mobile_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1rem 0.2rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--text-200);
    background-color: var(--shadow);
    transition: all 0.3s linear;
    &:hover{
        color: var(--primary);
    }
}
.mobile_link_text{

}
.mobile_link_icon{
    display: flex;
    align-items: center;
}
/* <<<< Navbar Search >>>> */
.navbar_search{
    display: block;
}
.navbar_search_wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.navbar_search_wrapper:hover .navbar_search_icon {
    border-color: var(--primary);
}   
.navbar_search_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-100);
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.2rem;
}
.navbar_search_iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--text-200);
}
.navbar_search_text{
    font-size: 0.9rem;
    color: var(--text-200);
}
.navbar_search_box{
    display: block;
    position: absolute;
    right: -1600px;
    top:0;
    width: 100%;
    height: 100dvh;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(1px);
    z-index: 999;
    transition: 0.7s linear;
}
.navbar_search_box_active{
    display: block;
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100dvh;
    z-index: 9999;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(2px);
    animation: showSearch ease-out  0.5s none;
}
.navbar_search_exit{
    display: block;
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--text-300);
    cursor: pointer;
}
.navbar_search_inputIconBox{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 700px;
    height: 2.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 7px 1px var(--text-200);
    padding: 0.1rem;
    background-color: var(--white);
    overflow: hidden;
    cursor: pointer;
}
.navbar_search_inputIconBox_icon{
    font-size: 1.2rem;
    color: var(--text-200);
    margin-top: 0.5rem;
    transition: all 0.3 linear;
}
.navbar_search_inputIconBox_icon:hover{
    color: var(--text-100);
}
.navbar_search_inputIconBox_input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-100);
    padding-right: 0.3rem;
}
@keyframes showSearch{
    0%{
        right: -1500px;
    }
    25%{
        right: -1125px;
    }
    50%{
        right: -750px;
    }
    75%{
        right: -375px;
    }
    100%{
        right: 0;
    }
}

/* <<<< navbar logo - menu >>>> */
.navbar_menu_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_menu_items{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar_menu_item{
    display: block;
}
.navbar_item_link{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-300);
    transition: all 0.3s linear;
    &:hover{
        color: var(--primary);
    }
}

.navbar_item_link_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_logo{
    margin: 0 3rem;
}
/* <<<< action link >>>> */
.navbar_action_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.navbar_action_LoginRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-100);
    color: var(--text-200);
    border-radius: 50%;
    padding: 0.3rem;
    transition: all 0.3s linear;
    &:hover{
        border-color: var(--primary);
    }
}
.navbar_action_LoginRegister_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_action_LoginRegister_iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary);
}
.navbar_action_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid var(--text-100);
    color: var(--text-200);
    border-radius: 50%;
    padding: 0.3rem;
    cursor: pointer;
    background-color: unset;
    transition: all 0.3s linear;
    &:hover{
        border-color: var(--primary);
    }
}
.navbar_action_num{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.7rem;
    right: -0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
}
.navbar_action_btn_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_action_btn_iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary);
}
.navbar_action_basket{
    display: block;
    position: fixed;
    top: 0;
    left: -1500px;
    width: 350px;
    height: 100dvh;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    z-index: 4;
    transition: all 0.5s linear;
}
.navbar_action_basket_active{
    display: block;
    position: fixed;
    width: 350px;
    height: 100dvh;
    top: 0;
    background: rgba(255,255,255,0.7);
    border-right: 1px solid var(--primary);
    backdrop-filter: blur(10px);
    left: 0;
    z-index: 4;
    transition: all 0.5s linear;
}
.navbar_basket_title_exit{
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    height: 70px;
    padding: 1rem;
}
.navbar_basket_icon{
    display: block;
    flex-basis: 10%;
    font-size: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;
    /* &:hover{
        color: var(--text-100);
    } */
}
.navbar_basket_title{
    display: block;
    margin: 0 auto;
    margin-right: 4rem;
    text-align: center;
    font-family: var(--danaBlack);
    font-size: 3rem;
}
.navbar_basket_empty{
    display: block;
    margin: 1rem auto;
    text-align: center;
    color: red;
}

.navbar_action_wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-100);
    color: var(--text-200);
    border-radius: 50%;
    padding: 0.3rem;
    transition: all 0.3s linear;
    &:hover{
        border-color: var(--primary);
    }
}
.navbar_action_wishlist_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_action_wishlist_iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary);
}



/* <<<< Responsive Code Css >>>> */
@media only screen and (max-width: 1285px) {
    .containers{
        max-width: 960px;
    }
    
    
}
@media only screen and (max-width: 1125px) {
    .containers{
        max-width: 1060px;
    }
    .navbar_menu_items{
        display: none;
    }
    .navbar_mobile_wrapper{
        display: block;
    }
}
@media only screen and (max-width: 992px) {
    .containers{
        max-width: 720px;
    }

}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    
}
@media only screen and (max-width: 576px) {
    .containers{
        max-width: 100%;
    }
    .navbar_action_links{
        display: none;
    }
    .navbar_search_menuMobile{
        margin-right: 2rem;
    }
    .navbar_search{
        display: none;
    }
}