.adviser{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.adviser_wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 4rem;
    background-color: var(--primary);
    border-radius: 2rem;
}
.adviser_paraph{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--white);
}
.adviser_linkRequest{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none ;
    width: 120px;
    height: 2.5rem;
    background-color: var(--white);
    color: var(--primary);
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: all 0.3s linear;
    &:hover{
        color: var(--secondary);
    }
}