.titles{
    display: block;
}
.titles_subTitle{
    display: block;
    font-size: 1.1rem;
    color: var(--text-200);
}
.titles_title{
    display: block;
    font-family: var(--danaBold);
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--text-100);
}