/* <<<< Import Reset CSS >>>> */
@import url(../styles/reset.css);
/* <<<< Import Reset CSS >>>> */

/* <<<< Import Font >>>> */
@font-face {
  font-family: danaMedium;
  src: url(../../public/fonts/Dana-Medium.woff2) format(woff2);
}
@font-face {
  font-family: danaBold;
  src: url(../../public/fonts/Dana-Bold.woff2) format(woff2);
}
@font-face {
  font-family: danaBlack;
  src: url(../../public/fonts/Dana-Black.woff2) format(woff2);
}
/* <<<< Import Font >>>> */

/* <<<< Root Variables >>>> */
:root{
   --danaMedium : danaMedium;
   --danaBold: danaBold;
   --danaBlack : danaBlack;

   --white : #ffffff;
   --shadow: #F9F9F9;
   --text-100 : #1D1D1B;
   --text-200 : #979793;
   --text-300: #575756;
   --primary : #009879;
   --primary-100: #EDF8F6;
   --secondary : #E6C498;
   --success : #505049;
   --tooltip : #FAF3EA
}
/* <<<< Root Variables >>>> */

/* <<<< Body >>>> */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--danaMedium) !important;
  font-size: 1rem !important;
  direction: rtl;
  position: relative;
  overflow-x: hidden;
}
/* <<<< Body >>>> */

/* <<<< Containers >>>> */
.containers{
  max-width: 84rem; /* 84rem = 1344px*/
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
/* <<<< Containers >>>> */
/* <<<< Tooltip_down >>>> */
.tooltip_down {
  position: relative;
  display: inline-block;
}
.tooltip_down .tooltip_Down_Menu {
  visibility: hidden;
  width: 140px;
  background-color: var(--tooltip);
  color: var(--text-300);
  border-radius: 0.5rem;
  padding: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -100px;
  z-index: 888;
}
.tooltip_down:hover .tooltip_Down_Menu {
  visibility: visible;
}
/* <<<< Tooltip_down >>>> */
/* <<<< Swiper Styles >>>> */
.mySwiper .swiper-button-prev:after,
.mySwiper .swiper-button-next:after {
  font-size: 23px !important;
  color: #979793 !important;
  font-weight: 1000;
}
/* <<<< Swiper Styles >>>> */
/* <<<< Custom Style Scroll >>>> */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--primary); 
}
/* <<<< Custom Style Scroll >>>> */
/* <<<< Navigation Swiper custom style >>>> */
.navigation_links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.navigation_btn{
  display: flex;
  align-items: center;
  gap: 10px;  
}
.navButtonNext{
  display: flex;
  align-items: center;
  justify-content: center;
  outline:none;
  border:none;
  background-color: unset;
  font-size: 1.5rem;
  color: var(--text-200);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.3s linear;
  &:hover{
      color: var(--text-100);
      background-color: var(--secondary);
  }
}
.navButtonPrev{
  display: flex;
  align-items: center;
  justify-content: center;
  outline:none;
  border:none;
  background-color: unset;
  font-size: 1.5rem;
  color: var(--text-200);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.3s linear;
  &:hover{
      color: var(--text-100);
      background-color: var(--secondary);
  }
}

/* <<<< Navigation Swiper custom style >>>> */
/* <<<<  >>>> */
/* <<<<  >>>> */
/* <<<<  >>>> */
/* <<<<  >>>> */
.bg-shadow{
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  z-index: 3;
}
.showMore{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 200px;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s linear;
  &:hover{
       background-color: var(--secondary);
  }
}

.mySwipers .swiper-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwipers{
  display: block;
  margin-top: 2rem;
}


.form{
  display: block;
  width: 100%;
  margin-top: 2rem;
}
.formBox{
  display: block;
  margin-bottom: 1rem;
}
.formBox_label{
  display: block;
  font-family: var(--danaBold);
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--success);
  margin-bottom: 0.5rem;
}
.formBox_input{
  display: block;
  width: 100%;
  height: 3rem;
  outline: none;
  border: 1px dotted var(--text-200);
  padding-right: 0.3rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-100);
  transition: all 0.3s linear;
}
.formRemember{
  display: flex;
  align-items: center;
}
.formRemember_input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary);
}
.formRemember_text{
  display: block;
  margin-right: 0.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-300);
}
.formForgetPassword{
  display: block;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.3s linear;
  &:hover{
    color: var(--primary);
  }
}
.formSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white);
  transition: all 0.3s linear;
  &:hover{
    background-color: var(--secondary);
  }
}

.question_box{
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
.question_title{
  display: block;
  font-family: var(--danaBold);
  font-size: 1.3rem;
  color: var(--text-100);
}
.question_paraph{
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-300);
}
.adminLayout,
.userLayout{
  display: block;
  width: 100%;
  height: 100vh;
  background-color: var(--shadow);
}
.boxPanel{
  display: block;
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
}
.admin-title,
.user-title{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-100);
}