.prodHome{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.prodHome_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.prodHome_buttons{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 1rem;
}

.prodHome_products{
    display: block;
    margin-top: 2rem;
}

.prodHome_navigation_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.prodHome_navigation_btn{
    display: flex;
    align-items: center;
    gap: 10px;  
}
.navButtonNext{
    display: block;
    outline:none;
    border:none;
    background-color: unset;
    font-size: 1.5rem;
    color: var(--text-200);
    transition: all 0.3s linear;
    &:hover{
        color: var(--text-100);
    }
}
.navButtonPrev{
    display: block;
    outline:none;
    border:none;
    background-color: unset;
    font-size: 1.5rem;
    color: var(--text-200);
    transition: all 0.3s linear;
    &:hover{
        color: var(--text-100);
    }
}
