.sidebar{
    display: block;
    max-width: clamp(100% , 250px , 230px);
    height: 100dvh;
    background-color: var(--primary);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.sidebar_container{
    display: block;
    width: 100%;
    padding: 1rem;
}
.sidebar_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.sidebar_logo_menu{
    display: block;
}
.sidebar_logoLink{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar_logoImg{
    display: block;
    max-width: 180px;
}
.sidebar_items{
    display: block;
    margin-top: 2rem;
}
.sidebar_item{
    display: block;
    margin-bottom: 1rem;
}
.sidebar_item_link{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
    &:hover{
        background-color: var(--secondary);
    }
}
.sidebar_item_linkActive{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
     background-color: var(--secondary);
}
.sidebar_item_icon{
    margin-left: 0.3rem;
    font-size: 1.2rem;
}
.sidebar_actionLinkBtn{
    display: block;
    position: absolute;
    bottom: -1rem;
}
.sidebar_ExitButton{
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-color: unset;
    width: 100%;
    padding: 0.5rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color:red;
    transition: all 0.3s linear;
    &:hover{
        background-color: var(--secondary);
        color: var(--white);
    }
}
.sidebar_exitButton_icon{

}
.sidebar_exitButton_text{

}
.sidebar_res{
    display: none;
}
.sidebar_icon{
    display: none;
}
.sidebar_res_exit{
    display: block;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
        color: var(--secondary);
    }
}

@media only screen and (max-width: 1200px) {
    .containers{
        max-width: 960px;
    }
    
    
}
@media only screen and (max-width: 992px) {
    .containers{
        max-width: 720px;
    }
    .sidebar{
        display: none;
    }
    .sidebar_icon{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-right: 2rem;
        font-size: 2.2rem;
        color: var(--primary);
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover{
            color: var(--secondary);
        }
    }
    .sidebar_res{
        display: block;
        position: absolute;
        top: 0;
        right: -1000px;
        height: 100dvh;
        background-color: var(--primary);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        transition: all 0.6s linear;
      }
  .sidebar_res_active{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100dvh;
    background-color: var(--primary);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    z-index: 777;
    transition: all 0.6s linear;
  }
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    
}
@media only screen and (max-width: 576px) {
    .containers{
        max-width: 100%;
    }
}